---
import { Image } from "astro:assets";
import FormatDate from "@components/global/FormateDate.astro";

interface Props {
    title: string;
    description: string;
    url: string;
    cover: string;
    coverAlt: string;
    headingLevel?: 2 | 3 | 4;
    tags?: string[];
    pubDate: Date;
    updatedDate?: Date;
}

const {
    title,
    description,
    url,
    cover,
    coverAlt,
    headingLevel = 2,
    tags = [],
    pubDate,
    updatedDate,
} = Astro.props;

const HeadingTag = `h${headingLevel}` as "h2" | "h3" | "h4";
---

<article class="card">
    <div class="card__content">
        <HeadingTag class="card__title">
            <a href={url} class="card__link">
                {title}
            </a>
        </HeadingTag>
        <small>
            {updatedDate ? "updated" : "published"}
            <FormatDate date={updatedDate || pubDate} />
        </small>
        <p class="card__description">{description}</p>
        {
            tags.length > 0 && (
                <ul class="card__tags">
                    {tags.map((tag) => (
                        <li class="card__tag">#{tag}</li>
                    ))}
                </ul>
            )
        }
    </div>
    <div class="card__media">
        {
            cover && (
                <Image
                    src={cover}
                    alt={coverAlt}
                    class="card__image"
                    height={360}
                    width={640}
                />
            )
        }
    </div>
</article>

<style>
    .card,
    .card__content {
        display: flex;
        flex-direction: column;
        gap: var(--space-3xs-2xs);
    }

    .card {
        position: relative;
        border: solid thin var(--color-dark);
        padding: var(--space-xs);
    }

    .card__content {
        flex-grow: 1;
        order: 2;
    }

    .card__title {
        margin: 0;
        font-size: var(--size-1);
    }

    .card__link {
        color: inherit;
    }

    .card__link:hover {
        text-decoration-thickness: 3px;
    }

    .card__tags {
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        gap: var(--space-3xs-2xs);
        margin-block-start: auto;
    }

    .card__tag {
        font-size: var(--size--1);
        color: var(--color-light);
        background-color: var(--color-dark);
        padding: var(--space-3xs);
        opacity: 0.8;
    }

    .card__image {
        width: 100%;
        aspect-ratio: 2 / 1;
        object-fit: cover;
        filter: grayscale(80%);
    }

    .card__media {
        order: 1;
    }
</style>
