---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const title = "Articles";
const articles = await getCollection("articles");
---

<Layout title={title}>
    <h2>Featured Articles</h2>
    <p>placeholder</p>
    <h2>All Articles</h2>
    <ul class="grid">
        {
            articles.map((article) => (
                <li>
                    <a href={`/articles/${article.id}`}>
                        <h3>{article.data.title}</h3>
                        <p>{article.data.description}</p>
                        <p>{article.data.tags}</p>
                        <p>
                            <em>
                                {article.data.pubDate.toLocaleDateString(
                                    "en-US",
                                    {
                                        month: "long",
                                        day: "numeric",
                                        year: "numeric",
                                    },
                                )}
                            </em>
                        </p>
                    </a>
                </li>
            ))
        }
    </ul>
</Layout>

<style>
    ul {
        padding: 0;
    }
    li {
        list-style: none;
    }
    a {
        text-decoration: none;
    }
</style>
