---
// import base layout
import Layout from "../layouts/Layout.astro";

// import all content from projects content collection
// edit projects at 'src/content/projects'
// edit projects schema at 'tina/config.ts' and 'src/content.config.ts'
import { getCollection } from "astro:content";

// projects not marked as a draft
const projects = await getCollection("projects", ({ data }) => {
    return data.isDraft !== true;
});

// projects marked as featured
const featuredProjects = await getCollection("projects", ({ data }) => {
    return data.isFeatured === true;
});

// define page metadata
const title = "Projects";
const description = "A collection of projects";
---

<Layout title={title} description={description}>
    <h1>{title}</h1>
    <h2>Featured Projects</h2>
    <ul class="grid">
        {
            featuredProjects.map((project) => (
                <li>
                    <a href={`/projects/${project.id}`}>
                        <h3>{project.data.title}</h3>
                        <p>{project.data.description}</p>
                        <p>{project.data.tags}</p>
                        <p>
                            <em>
                                {project.data.pubDate.toLocaleDateString(
                                    "en-US",
                                    {
                                        month: "long",
                                        day: "numeric",
                                        year: "numeric",
                                    },
                                )}
                            </em>
                        </p>
                    </a>
                </li>
            ))
        }
    </ul>
    <h2>All Projects</h2>
    <ul class="grid">
        {
            projects.map((project) => (
                <li>
                    <a href={`/projects/${project.id}`}>
                        <h3>{project.data.title}</h3>
                        <p>{project.data.description}</p>
                        <p>{project.data.tags}</p>
                        <p>
                            <em>
                                {project.data.pubDate.toLocaleDateString(
                                    "en-US",
                                    {
                                        month: "long",
                                        day: "numeric",
                                        year: "numeric",
                                    },
                                )}
                            </em>
                        </p>
                    </a>
                </li>
            ))
        }
    </ul>
</Layout>

<style>
    ul {
        padding: 0;
    }
    li {
        list-style: none;
    }
    a {
        text-decoration: none;
    }
</style>
